@(game: models.games.Game, activePlayer: String, leaveGameLink: String)

<html>
    <head>
        <meta charset="UTF-8">
        <title>Dominion Play</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/dominionCards.js")"></script>
        <script src="@routes.Assets.at("javascripts/drawUtilsModule.js")"></script>
        <script src="@routes.Assets.at("javascripts/kingdomBoardModule.js")"></script>
        <script src="@routes.Assets.at("javascripts/drawGameModule.js")"></script>
        <script src="@routes.Assets.at("javascripts/game.js")"></script>
        <script type="text/javascript">connectToGame("@game.owner", "@activePlayer", "@routes.GameSocket.socket()", "@routes.Dominion.menu()");</script>
    </head>
    <body>
        <div class="status-board">
            Status: @game.state
        </div>
        <br/>
        <div class="leave-game">
        </div>
        <br/>
        <div class="game-board">
            @victoryBoard(game.gameBoard.victoryBoard)
            @treasureBoard(game.gameBoard.treasureBoard)
            @kingdomBoard()
        </div>
        <div class="all-players-board">
        </div>
        <div class="player-board">
        </div>
    </body>
</html>