@(newGameLink: String, rejoinGames: Iterable[GameMenuItem], openGames: Iterable[GameMenuItem])

<html>
    <body>
        <b><a href="@newGameLink">Start New Game</a></b>
        @if(rejoinGames.nonEmpty) {
            <h2>Rejoin Games</h2>
            <table>
                <tr>
                    <th>Owner</th>
                    <th>Required</th>
                    <th>Joined</th>
                    <th>Players</th>
                </tr>
                @for(game <- rejoinGames) {
                    <tr>
                        <td><a href="@game.joinGameLinkGen(game.owner)">@game.owner</a></td>
                        <td>@game.numPlayers</td>
                        <td>@game.joinedPlayers.size</td>
                        <td>@game.joinedPlayers.map(_.name).mkString(", ")</td>
                    </tr>
                }
            </table>
        }
        <h2>Games Waiting For Players</h2>
        <table>
            <tr>
                <th>Owner</th>
                <th>Required</th>
                <th>Joined</th>
                <th>Players</th>
            </tr>
            @for(game <- openGames) {
            <tr>
                <td><a href="@game.joinGameLinkGen(game.owner)">@game.owner</a></td>
                <td>@game.numPlayers</td>
                <td>@game.joinedPlayers.size</td>
                <td>@game.joinedPlayers.map(_.name).mkString(", ")</td>
            </tr>
            }
        </table>
    </body>
</html>